.hero-text {
    font-size: 5rem;
    color:$color-white;
    outline-color: $color-black;
    letter-spacing: 1.5px;
}

.long {
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 2.5rem;
    color:$color-white;
}